<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="limbuserendipity.smartcircle"
    >

    <!-- Для проверки состояния сети -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Для работы с Wi-Fi (если нужно сканировать устройства) -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Для Multicast (mDNS/Bonjour) -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name="com.limbuserendipity.smartcircle.App"
        android:allowBackup="true"

        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MvvmComposeHiltExample">
        <activity
            android:name="com.limbuserendipity.smartcircle.presentation.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MvvmComposeHiltExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>